body {
    background-color: #131313;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.col-2{
    display: grid;
    grid-template-columns: auto auto;

    img{
        width: 100%;
    }
}

.Footer{
    position: absolute;
    padding-left: 30%;
    bottom: 0;

    img{
        width: 100%;
    }
}

.Header{
    position: relative;
    padding-top: 5vh;

    img{
        width: 60%;
    }
}

.Nav{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5vh;
    padding-right: 38vw;

    ul{
        list-style: none;
        display: inline-flex;
        padding: 0 2vw;

        li{
            color: white;
            font-size: 1.2em;
            padding: 1vw;
        }  

        button {
            color: #131313;
            background-color: #00F9B6;
            padding: 0 2vw;
            border: none;

            li{
                padding: 0;
                margin: 0;
            }
        }
    }
}