body {
    background-color: #131313;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.col-1{
    display: grid;
    grid-template-columns: auto;
}

.col-2{
    display: grid;
    grid-template-columns: auto auto;

    img{
        width: 100%;
    }

    input{
        margin: 2vw;
        padding: 3vw;
    }
}

.Footer{
    position: absolute;
    padding-left: 30%;
    bottom: 0;

    img{
        width: 100%;
    }
}

.Header{
    position: relative;
    padding-top: 5vh;

    img{
        width: 60%;
    }
}

.Nav{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5vh;
    padding-right: 38vw;

    ul{
        list-style: none;
        display: inline-flex;
        padding: 0 2vw;

        li{
            color: white;
            font-size: 1.2em;
            padding: 1vw;
        }  

        button {
            padding: 0;
            margin: 0;
            border: none;

            li{
                color: #131313;
                background-color: #00F9B6;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.LoginForm{
    display: grid;
    grid-template-rows: auto;
    width: 50%;
    height: 20vh;
    margin-left: 25%;
    margin-right:25%;

    h2{
        color: white;
        font-size: 2.5em;
        font-weight: 300;
        margin: 2vh 0 0 0;
    }

    p{
        color: white;
        font-weight: 600;
    }

    label{
        color: white;
    }

    input{
        padding: 2vh 0;
        margin: 2vh 0 ;
        width: 30%;
        color: #00F9B6;
        background-color: #0A1D1C;
        border: solid 1px #1F5E5B;
        border-radius: 0.5em;

        :nth-child(3){
            background-color: #00F9B6;
        }
    } 

    button{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 10%;
        color: #131313;
        background-color: #00F9B6;
    }
}